{% extends 'layout.html' %} {% block styles %}
<link rel="stylesheet" href="post.css" />
{% endblock %} {% block content %}
<h1>글 작성하기</h1>
<hr />
<form
  id="write"
  action="/post/{{post.id}}"
  method="post"
  enctype="multipart/form-data"
>
  <label for="title">제목:</label>
  <input type="text" id="postTitle" name="title" required />

  <label for="content">내용:</label>
  <textarea id="content" name="content" rows="10" required></textarea>
  <img id="img-preview" src="" style="display: none" alt="미리보기" />
  <input id="img-url" type="hidden" name="url" />
  <input type="file" id="img" name="img" accept="image/*" />
  <br />
  <input id="done" type="submit" value="작성하기" />
  <input id="cancel" type="button" value="취소" />
</form>
<script>
  if (document.getElementById("img")) {
    document.getElementById("img").addEventListener("change", function (e) {
      const formData = new FormData();
      formData.append("img", this.files[0]);
      axios.post("/post/img", formData).then((res) => {
        document.getElementById("img-url").value = res.data.url;
        document.getElementById("img-preview").src = res.data.url;
        document.getElementById("img-preview").style.display = "inline";
      });
    });
  }
</script>
{% endblock %}
